@import "@stevederico/skateboard-ui/styles.css";

@source '../../node_modules/@stevederico/skateboard-ui';

@theme {
  --color-app: var(--color-purple-500);
}

.dark {
  --card: #0d0d0d;
  --accent: #111111;
}
